/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .about {
        padding: 0px;
        padding-top: 125px;
        padding-bottom: 100px;
    }
}

/* max-width 992 */
@media (max-width: 992px) {
    .about {
        padding: 0;
        padding-bottom: 100px;
        padding-top: 125px;
    }
    .content-thumb img {
        margin-left: 0px;
    }
    .content .content-thumb .content-info {
        left: 110px;
        padding: 0;
    }
    .downlode-content {
        padding: 0 !important;
    }
    .testimonial {
        padding: 20px 35px;
        border-radius: 30px;
    }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    ul {
        margin-top: 25px;
    }
    .about .about-area .about-left h3 {
        font-size: 25px;
    }
    .about .about-area .about-left h2 {
        font-size: 28px;
    }

}


/*max-width 767*/
@media (max-width: 767px) {
    ul {
        margin-top: 25px;
    }
    .downlode-content {
        padding: 0 !important;
        text-align: center;
    }
    .downlode-thumb {
        text-align: center;
    }
    .downlode-area {
        padding-top: 0 !important;
    }

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-info {
        padding-bottom: 10px;
    }
    .about .about-area .about-left h2 {
        font-size: 37px;
    }
    .testimonial {
        padding: 20px 50px;
    }
}

/* small mobile :320px. */
@media (max-width: 479px) {
    .header-info {
        padding-bottom: 0;
    }

    .header-info h1 {
        font-size: 39px;
    }

    .header-info span {
        letter-spacing: 6px;
    }
    .about .about-area .about-left h3 {
        font-size: 25px;
    }
    .about .about-area .about-left h2 {
        font-size: 28px;
    }
    .about .about-area .about-right {
       max-width: 295px;
    }
    .testimonial {
        padding: 10px 15px;
        border-radius: 30px;
    }
    
}